.cart {
  margin: auto;
  background-color: #eceff1;
  display: flex;
  flex-direction: column;

  .cart-items {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
  }

  .item-img {
    width: 240px;
  }

  .aspect-ratio-box {
    position: relative;

    &::before {
      display: block;
      content: "";
      padding-top: 100%;
    }

    .media {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
  }

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}
