.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 20;

  .content {
    position: absolute;
    width: 500px;
    max-height: 90%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    outline: none;
    padding: 20px;
    text-align: end;
  }

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
