.header {
  padding-left: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 65px;
  border-bottom: 1px solid gray;

  .logo {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 65px;

    img {
      width: 88px;
    }
  }
}
