.greeting-sign {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  height: 30px;

  a{
    color: white;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 65px;
  border-bottom: 1px solid gray;

  .logo {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 65px;

    img {
      width: 88px;
    }
  }
}
