.search-container {
  display: flex;
  align-items: center;

  .search-input {
    display: none;
    margin-right: 5px;
    border: none;
    height: 35px;
    outline: none;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid transparent;

    &:hover,
    &:focus {
      border: 1px solid rgb(94, 94, 94);
    }
  }
}
