.main-category {
  height: 100%;

  .category-img {
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  &-title {
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .container{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sub-categories {
    padding: 10px;
    height: 60%;
    width: 65%;
    background-color: #ebedee;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-title{
      text-transform: uppercase;
    }
  }
}
