.specific-product-container {
  height: 100%;
  background-color: #eceff1;
}

.specific-product {
  padding: 10px;
  min-height: 100%;
  background-color: #eceff1;

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aspect-ratio-box {
    position: relative;

    &::before {
      display: block;
      content: "";
      padding-top: 100%;
    }

    .media {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;

      img {
        display: block;
        height: 100%;
      }
    }
  }

  @media screen and (min-width: 715px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1000px;
    margin: auto;
    padding: 20px;

    .aspect-ratio-box {
      max-width: 460px;
      margin: auto;
    }

    .slide {
      height: 70px;
    }

    .specific-product-controls {
      display: none;
    }

    .sizes {
      display: none;
    }
  }
}
