.product-entry {
  position: relative;
  background-color: white;
  padding: 1px;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;

  .wish-list-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &-main-img {
    img {
      width: 100%;
    }
  }

  &-other-colors {
    display: none;
    height: 50px;
    background-color: lightgray;
  }

  &-info {
    padding: 7px;
    padding-bottom: 60px;
  }

  .product-info {
    margin: 7px 0;
  }

  &:hover {
    border: 1px solid black;

    .carousel {
      display: block;
    }

    .product-entry-info {
      &.has-other-colors {
        padding-bottom: 0;
      }
    }

    .product-entry-other-colors {
      display: block;
    }
  }

 
}
